:root {
  --body-background-color: #ffffff;
  --text-color: #000000;
  --logo-text-color: #ffffff;
  --nav-text-color: #ffffff;
  --hero-text-color: #ffffff;
  --hero-button-background-color: linear-gradient(
    90.03deg,
    #00c5eb -1.97%,
    #b544fe 89.43%
  );
  --watch-title-color: #ffffff;
  --watch-text-color: #ffffff;
  --team-subtitle-color: #ffffff;
  --team-position-color: #ffffff;
  --footer-text-color: #ffffff;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
  font-size: 16px;
  font-style: normal;
  background-color: var(--body-background-color);
}

/* utilities */

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  width: calc(1248px + 16px + 16px);
  background-color: rgb(0, 128, 68);
}

img {
  display: block;
  max-width: 100%;
}

/* End utilities */

/*  */
/*-- header --*/
/*  */

.logo {
  padding-top: 19px;
  padding-bottom: 19px;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.21;
  color: var(--logo-text-color);
}

.nav-links .link {
  padding-top: 29px;
  padding-bottom: 28px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: var(--nav-text-color);
}

/* End header */

/*  */
/*-- hero --*/
/*  */

.hero-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;

  color: var(--hero-text-color);
}

.hero-subtitle {
  margin-top: 0;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: var(--hero-text-color);
}

.hero-list .item {
  margin-top: 0;
  margin-left: 22px;
  margin-bottom: 12px;
  font-weight: 700;

  line-height: 1.19;
  color: var(--hero-text-color);
}

.hero-list .item:last-child {
  margin-bottom: 60px;
}

.hero-button {
  margin: 0;
  padding: 11px 60px 12px 61px;

  display: inline-block;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;

  color: var(--hero-text-color);
  background: var(--hero-button-background-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* End hero */

/*  */
/* KEY FEATURES */
/*  */

.features-title {
  margin: 0;
  margin-bottom: 80px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.21;
  text-align: center;
}

.features-text {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 80px;
  margin-left: auto;
  max-width: 886px;

  font-weight: 500;

  line-height: 1.5;
  text-align: center;
}

.features-subtitle {
  margin: 0;
  margin-bottom: 13px;

  font-weight: 500;

  line-height: 1.5;
}

.features-description {
  margin: 0;
  margin-bottom: 80px;
  max-width: 220px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
}

/* End KEY FEATURES */

/*  */
/* WATCH THE VIDEO */
/*  */

.watch-title {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.21;

  color: var(--watch-title-color);
}

.watch-text {
  margin: 0;
  margin-bottom: 80px;
  max-width: 479px;

  font-weight: 500;

  line-height: 1.19;
  color: var(--watch-text-color);
}

/* End WATCH THE VIDEO */

/*  */
/* OUR TEAM */
/*  */

.team-title {
  margin: 0;
  margin-bottom: 80px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.21;
  text-align: center;
}

.team .description {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 80px;
  margin-left: auto;
  max-width: 886px;

  font-weight: 500;

  line-height: 1.5;
  text-align: center;
}

.team .list .item {
  padding: 14px 12px 12px 12px;
  border-radius: 15px;

  background-color: #b544fe;
}

.team .foto {
  margin-bottom: 20px;
}

.team .subtitle {
  margin-top: 0;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;

  color: var(--team-subtitle-color);
}

.team .position {
  margin: 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;

  color: var(--team-position-color);
}

/* End OUR TEAM */

/*  */
/* TESTIMONIALS */
/*  */

.testimonials .title {
  margin: 0;
  margin-bottom: 40px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.21;
  text-align: center;
}

.testimonials .foto {
  margin-bottom: 20px;
}

.testimonials .subtitle {
  margin: 0;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
}

.testimonials .company {
  margin: 0;
  margin-bottom: 40px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
}

.testimonials .response {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  max-width: 886px;

  font-weight: 500;

  line-height: 1.5;
  text-align: center;
}

/* End OUR TEAM */

/*  */
/* CONTACT US */
/*  */

/* End CONTACT US */

/*  */
/* footer */
/*  */

.footer {
  padding-top: 22px;
  padding-bottom: 21px;
  background-color: chocolate;

  border-top: 1px solid #ffffff;
}

.footer .text {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;

  color: var(--footer-text-color);
}

/* End footer */
